@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

*,
*::before,
*::after {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

main {
    background-color: #3A4965;
}

.container {
    max-width: calc(1200px + 30px);
    padding: 0 15px;
    margin: 0 auto;
}


.table__one {
    margin: 0 auto;
    width: 1140px;
    border-collapse: separate;
    border-spacing: 0px;
}

.main__title {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.main__title span {
    display: block;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

}


.color__white {
    background-color: #FFF;
    height: 110px;
}

.color__one {
    background-color: #F2F2F2;
}

.color__two {
    background-color: #E3E3E3;
}

.table__one-td {
    padding: 22px 0;
    color: #484848;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.contact__btn {
    padding: 20px 45px;
    background-color: #484848;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.buy__btn {
    padding: 20px 45px;
    background-color: #484848;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.green {
    background-color: #89C331;
}

.red {
    background-color: #F04A56;
}

.blue {
    background-color: #20807C;
}

.next__table {
    margin-top: 100px;
}

.table__two {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px;
    width: 1145px;
    height: 608px;
}



.table__title {
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.table__title span {
    display: block;
    color: #484848;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
}

.white {
    background-color: #FAFAFA;
}


.grey {
    background-color: #E3E3E3;
    ;
}

.table__box {
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main {
    color: #fff;;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}


.table__box-span {
    display: block;
}

.table__box-price {
    display: block;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    position: relative;
    right: 59px;
    margin: 13px 0 8px;
}

.table__box-price::before {
    content: ".99";
    bottom: 7px;
    right: 96px;
    font-size: 15px;
    position: absolute;
}

.table__box-price::after{
    content:"PER MONTH";
    bottom: 0px;
    right: -19px;
    font-size: 14px;
    position: absolute;
}


.table__box-btn {
    display: inline-block;
    padding: 10px 32px;
    background-color: #414141;
    border-radius: 8px;
}